
    body{
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: #2e2d2d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.navbar{
    background-color: darkolivegreen;
    height: 60px;
    border: 0;
}
.navbar-brand{
    color:ghostwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
} 
.navbar-toggler-icon{
    color: honeydew;
}
.nav-item{
    background-color: honeydew;
    margin: 0;
    width: 100%;
}
ul{
    padding-left: 0;
    background-color: darkolivegreen;
    border: 0 1px 1px 1px solid black;
}  
#maincontent{
    padding-top: 50px;
} 
h2,h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    background-color: darkolivegreen;    
    height: 1000px;
    width: 100%;
    padding: 15px;
}
